# Python List and Boolean Variables
- Boolean
- Boolean and Logical operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
- These are 2 constant objects -> True and False.
- Used to represent truth values.
- Numerically, they're 1 and 0.
- The built-in function bool() can be used to assign/cast any value to Boolean, if the value can be interpreted as a true value. They are written as false and true respectively.

In [1]:
bool() # to create a bool variable

False

In [2]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
my_str = "Mahak Kaur"

In [7]:
#my_str. # press Tab to know all in-built functions
#Press shift+Tab to read description of a function

In [8]:
print(my_str.isalnum()) # checks if string has alphabets and numbers
print(my_str.isalpha()) # checks if all chars are alphabets
print(my_str.isdigit()) # checks if string contains title digits
print(my_str.istitle()) # checks if string contains title words
print(my_str.isupper()) # checks if string contains upper case
print(my_str.islower()) # checks if string contains lower case
print(my_str.isspace()) # checks if string contains spaces
print(my_str.endswith('d')) # tests if string ends with a d
print(my_str.startswith('M')) # tests if string starts with an M

False
False
False
True
False
False
False
False
True

## Boolean and Logical operators

In [9]:
True and True

True

In [10]:
False and True

False

In [11]:
False or True

True

In [12]:
1 and 0

0

In [13]:
1 or 0

1

In [14]:
str1 = 'Hello World'
myStr = "Mahak"

In [21]:
myStr.isalpha() or str1.isnumeric()

True

## Lists
- A list is a data structure in python that is mutable, or changeable, ordered sequence of elements.
- Each element or value that is inside of a list is called an item.
- Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [22]:
type([])

list

In [26]:
lst = []

In [27]:
type(lst)

list

In [30]:
lst1 = ['Hi','Hello','Hola',100]

In [31]:
type(lst1)

list

In [32]:
len(lst1)

4

### Append
.append is used to add elements in the list

In [33]:
lst1.append(200)

In [41]:
lst1.append([400,'Bonjour'])

In [42]:
lst1

['Hi', 'Hello', 'Hola', 100, 200, [400, 'Bonjour']]

In [35]:
# indexing in list
lst1[0]

'Hi'

In [43]:
# slicing the list
lst1[:]

['Hi', 'Hello', 'Hola', 100, 200, [400, 'Bonjour']]

In [37]:
lst1[:2]

['Hi', 'Hello']

In [44]:
lst1[2:]

['Hola', 100, 200, [400, 'Bonjour']]

In [45]:
lst1[1:4]

['Hello', 'Hola', 100]

### Insert
insert at a specific index

In [46]:
lst1.insert(2,"Annyeong")

In [47]:
lst1

['Hi', 'Hello', 'Annyeong', 'Hola', 100, 200, [400, 'Bonjour']]

### Extend
adds elements as separate items

In [48]:
lst2 = [1,2,3,4]

In [49]:
lst2.append([5,6])

In [50]:
lst2.extend([7,8])

In [51]:
lst2

[1, 2, 3, 4, [5, 6], 7, 8]

### Various operations to perform on Lists

In [53]:
lst3 = [1,2,3,4,5,6]

In [54]:
sum(lst3)

21

### Pop( )

In [55]:
lst1

['Hi', 'Hello', 'Annyeong', 'Hola', 100, 200, [400, 'Bonjour']]

In [56]:
lst1.pop()

[400, 'Bonjour']

In [57]:
lst1

['Hi', 'Hello', 'Annyeong', 'Hola', 100, 200]

In [58]:
lst1.pop(4)

100

In [59]:
lst1

['Hi', 'Hello', 'Annyeong', 'Hola', 200]

### count( ) -> Calculates total occurence of given element in a List

In [60]:
lst = [1,1,2,3,1,2,4]

In [61]:
lst.count(1)

3

In [62]:
len(lst)

7

### index( ) -> returns index of 1st occurence. Start and end index are not necessary parameters.

In [63]:
lst

[1, 1, 2, 3, 1, 2, 4]

In [64]:
lst.index(1)

0

In [69]:
lst.index(1,1,7)

1

In [65]:
lst.index(2)

2

In [66]:
min(lst)

1

In [67]:
max(lst)

4

In [70]:
lst

[1, 1, 2, 3, 1, 2, 4]

In [71]:
lst*2 #appends list the given no. of times

[1, 1, 2, 3, 1, 2, 4, 1, 1, 2, 3, 1, 2, 4]

## Sets
- A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.
- Python's set class represents the mathematical notion of a set.
- This is based on a data structure known as hash table.

In [1]:
#Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {1,2,3,4,3}
print(set_var)

{1, 2, 3, 4}

In [3]:
set_var = {"Avengers","Iron Man","Spiderman"}
print(set_var)
print(type(set_var))

{'Iron Man', 'Spiderman', 'Avengers'}
<class 'set'>

### In-built functions in sets

In [4]:
set_var.add("Hulk")

In [5]:
print(set_var)

{'Iron Man', 'Spiderman', 'Hulk', 'Avengers'}

In [8]:
# Set doesn't support indexing
print(set_var[1])
print(set_var["Iron Man"])

TypeError: 'set' object is not subscriptable

In [9]:
set1 = {"Avengers","Iron Man","Spiderman"}
set2 = {"Avengers","Iron Man","Spiderman","Hulk"}

In [10]:
## Difference
set2.difference(set1)

{'Hulk'}

In [11]:
## Difference update -> Removes all common elements from set2 and only non-common value remains
set2.difference_update(set1)

In [12]:
print(set2)

{'Hulk'}

In [13]:
## Intersection
set1 = {"Avengers","Iron Man","Spiderman"}
set2 = {"Avengers","Iron Man","Spiderman","Hulk"}
set1.intersection(set2)

{'Avengers', 'Iron Man', 'Spiderman'}

In [17]:
set2.intersection_update(set1)

In [18]:
set1

{'Avengers', 'Iron Man', 'Spiderman'}

In [19]:
set2

{'Avengers', 'Iron Man', 'Spiderman'}

## Dictionaries
- A dictionary is a collection which is unordered, changeable and indexed.
- In Python, dictionaries are written with curly brackets, and they have keys and values.

In [20]:
dic = {}

In [21]:
type(dic)

dict

In [23]:
dic = {1,2,3,4,5}
type(dic)

set

In [24]:
## Let's create a Dictionary
my_dict = {"car1":"Audi", "car2":"BMW", "car3":"Mercedes"}

In [25]:
type(my_dict)

dict

#### Whenever you learn a new data structure, check whether you can retrieve its elements using indexing or not.
- In Dictionaries, we can retrieve the data by entering the keys as index.

In [26]:
my_dict['car1']

'Audi'

In [27]:
# We can even loop through the dictionary's values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes

In [28]:
# We can even loop through the dictionary's keys

for x in my_dict:
    print(x)

car1
car2
car3

In [29]:
# We can also check both keys and values

for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedes')

In [30]:
# Adding new items in Dictionaries
my_dict["car4"] = "Porsche"
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedes', 'car4': 'Porsche'}

In [31]:
# Replacing values in dictionary
my_dict["car1"] = "Bugatti"

In [32]:
my_dict

{'car1': 'Bugatti', 'car2': 'BMW', 'car3': 'Mercedes', 'car4': 'Porsche'}

### Nested Dictionary
- Dictionary is used in MongoDB and JSON, where data is stored in key-value pairs, and we must know the dictionary operations to perform operations on that data.

In [33]:
car1_model = {"Mercedes":1960}
car2_model = {"Audi":1970}
car3_model = {"Ambassador":1980}

car_type = {"car1":car1_model, "car2":car2_model, "car3":car3_model}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [34]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [35]:
# Accessing the items in a nested dictionary 
print(car_type['car1'])

{'Mercedes': 1960}

In [36]:
print(car_type['car1']['Mercedes'])

1960

## Tuples
- It is an immutable data structure.

In [37]:
## create an empty tuple
my_tuple = tuple()

In [39]:
type(my_tuple)

tuple

In [40]:
my_tuple = ()

In [41]:
type(my_tuple)

tuple

In [42]:
my_tuple = ("Mahak", "Meet", "Preet")
my_tuple[0]

'Mahak'

In [43]:
my_tuple[0] = "Supreet"

TypeError: 'tuple' object does not support item assignment

In [44]:
my_tuple = ("Hello", "Hi")

In [45]:
print(my_tuple)

('Hello', 'Hi')

#### ^ The whole tuple can get replaced, but an element of a tuple cannot be replaced, i.e. a tuple is immutable.
- They are used in programs/applications where the definition of items is required only once. And you can only replace it BUT can't perform item operations.

In [47]:
## Inbuilt functions
my_tuple.count("Hi")

1

In [48]:
my_tuple.count("Mahak")

0

In [49]:
my_tuple.index("Hi")

1

In [50]:
my_tuple.index("Mahak")

ValueError: tuple.index(x): x not in tuple